<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud.service.dao.RoleDao" >
    <resultMap id="BaseResultMap" type="com.cloud.service.model.entity.UserDO" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="mobile" property="mobile" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="adress" property="adress" jdbcType="VARCHAR" />
    </resultMap>


    <sql id="Base_Column_List" >
    id, name, mobile
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List_1" />
        from t_user
        where id = #{id,jdbcType=VARCHAR}
    </select>
</mapper>